<IfModule mod_headers.c>
    RewriteEngine on
    RewriteBase /

    # Redireciona HTTP para HTTPS e www
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^(.*)$ https://www.wagnerwebdev.com.br/$1 [R=301,L]

    # Para arquivos CSS e JS
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
</IfModule>