# Desabilitar cache para arquivos CSS e JS
<IfModule mod_headers.c>
    RewriteEngine on
    RewriteBase /

    RewriteCond %{HTTP_HOST} ^wagnerwebdev\.com\.br/ [NC] #verifica se falta www (MENOR IDEIA DO PQ DO NC)
    RewriteRule ^(.*)$ https://www.wagnerwebdev.com.br//$1 [R=301,L] #301 Moved Permanently
    
    # Para arquivos CSS e JS
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
</IfModule>